/* vacation.css */

.table-container {
  background-color: #fbfbfb;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #439fd4;
  color: white;
}
